@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
}

h1 {
    color: #a36b46;
    font-family: 'Comfortaa', cursive;
}

h2,
h3 {
    color: #F1A26D;
    font-family: 'Comfortaa', cursive;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

hr {
    width: 20%;
    margin: auto;
    border: 0;
    border-bottom: 1px dotted grey;
}


/* iPhone X */

@media (max-width:375px) {
    header,
    #hello {
        background-color: #E0ECE8;
    }
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 3em;
    }
    .logo {
        width: 5em;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    nav {
        width: 50%;
    }
    .link {
        display: flex;
        justify-content: space-between;
        font-size: 1.3rem;
    }
    a {
        color: #4AB19A;
    }
    a:hover {
        color: #487368;
        border-bottom: 1px solid #487368;
    }
    .link :nth-child(1) a {
        color: #487368;
    }
    #hello {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5em;
    }
    .hello-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .hello-container h1 {
        font-size: 2.8rem;
        margin-bottom: .45em;
        margin-top: .55em;
    }
    .hello-container h3 {
        font-size: 1.5rem;
        margin-bottom: 2em;
    }
    .cloud-1 {
        width: 5em;
        position: absolute;
        left: 1em;
        bottom: 22em;
    }
    .cloud-2 {
        width: 4em;
        position: absolute;
        right: .75em;
        bottom: 25em;
    }
    .city {
        width: 100%;
    }
    .container-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-grande {
        width: 8em;
        margin-bottom: 3em;
    }
    .container-1 {
        margin-bottom: 2em;
    }
    .container-1 h2 {
        margin-bottom: 1.5em;
        font-size: 2.5rem;
    }
    .container-1 p {
        width: 90%;
        text-align: center;
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
    .container-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .what {
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 2rem;
    }
    .row-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4em;
    }
    .c-image {
        width: 8em;
        margin-bottom: 3em;
    }
    .descrizione-1 {
        width: 96%;
        margin: auto;
        text-align: center;
    }
    .descrizione-1 h2 {
        line-height: 1.6em;
        margin-bottom: 1em;
    }
    .descrizione-1 p {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
    .row-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4em;
    }
    .languages {
        width: 8em;
        margin-bottom: 3em;
    }
    .descrizione-2 {
        width: 96%;
        margin: auto;
        text-align: center;
    }
    .descrizione-2 h2 {
        line-height: 1.6em;
        margin-bottom: 1em;
    }
    .descrizione-2 p {
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
    .container-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4em;
    }
    .container-3 h2 {
        line-height: 1.6em;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    .descrizione-3 {
        width: 90%;
        margin: auto;
        text-align: center;
        margin-bottom: 3em;
    }
    .descrizione-3 h3 {
        line-height: 1.6em;
        margin-bottom: 1em;
    }
    .descrizione-3 p {
        font-size: 1.2rem;
        line-height: 2.2rem;
        text-align: center;
    }
    button {
        box-shadow: inset 0px 39px 0px -24px #e67a73;
        background-color: #e4685d;
        border-radius: 4px;
        border: 1px solid #ffffff;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 16px;
        padding: 6px 15px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #b23e35;
        width: 150px;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }
    .foot {
        width: 70%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 4em;
    }
    .credits {
        width: 95%;
        line-height: 1.7em;
        text-align: center;
    }
}


/* iPad mini */

@media (max-width:768px) {}


/* iPad Air */

@media (max-width:820px) {}


/* Laptop */

@media (max-width:1440px) {}


/* -------------------------------------------- */
